@import "tailwindcss";

.font-labrada {
  font-family: var(--font-labrada);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

@media (max-width: 768px) {
  .animate-marquee {
    animation-duration: 35s;
  }
}

.animate-marquee {
  will-change: transform;
}
