@import "tailwindcss";

.font-labrada {
  font-family: var(--font-labrada);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

@media (max-width: 768px) {
  .animate-marquee {
    animation-duration: 35s;
  }
}

.animate-marquee {
  will-change: transform;
}
.input {
  @apply w-full 
  bg-white
  border border-gray-400
  rounded-lg 
  px-4 py-2.5 
  text-sm text-gray-800
  placeholder-gray-400
  shadow-sm
  transition
  focus:outline-none
  focus:border-orange-500
  focus:ring-2
  focus:ring-orange-200;
}
